.form input,
.form textarea,
.form select,
%input {
  border: 1px solid var(--border);
  background-color: var(--background);
  border-radius: 3px;
  color: var(--color);
  padding: space(1.5) space(1);
  display: block;
  outline: none;
  min-height: 44px;
}

.form .select--white {
  background-color: var(--background-light);
}

/**
 * Accessibility
 */
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch,
%input-active {
  border-color: var(--contrast);
  box-shadow: 0px 0px 3px var(--contrast);
}
