.form input,
.form textarea,
.form select,
%input {
  color: var(--color);
}

.form .select--white {
  background-color: var(--background-light);
}

.form input {
  @extend %input;
}

/**
 * Accessibility
 */
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch,
%input-active {
  border-color: var(--contrast);
  box-shadow: 0px 0px 3px var(--contrast);
}

.form-group {
  // margin-top: $gutters * 2;
  // margin-bottom: $gutters * 2;
  // display: flex;
  // flex-wrap: wrap;
}

.field-error {
  color: color('red', 'base');
  font-size: 0.8rem;
}

.field {
  position: relative;
  height: 72px;
  padding-top: 18px;
}

.field-textarea {
  height: auto;
}
